@mixin regular {
	// font-family: 'FuturaBT-Book', 'Futura', 'Helvetica', 'Arial';
	// font-family: 'FuturaSB-Book', 'FuturaBT-Book';
	font-family: 'FuturaBT-Book';
}

@mixin italic {
	// font-family: 'FuturaBT-BookItalic', 'Futura', 'Helvetica', 'Arial';
	font-family: 'FuturaBT-BookItalic';
}

@mixin bold {
	// font-family: 'FuturaBT-Bold', 'Futura', 'Helvetica', 'Arial';
	font-family: 'FuturaBT-Bold';
}

@mixin bold-italic {
	// font-family: 'FuturaBT-BoldItalic', 'Futura', 'Helvetica', 'Arial';	
	font-family: 'FuturaBT-BoldItalic';
}

// FONT STYLING MIXINS
@mixin letter-spacing ($value) {
	letter-spacing: ($value / 1000)+em;
}

@mixin font-size ($value,$ratio:1) {
	font-size: $value * $ratio;
}

@mixin line-height ($value,$ratio:1) {
	line-height: $value * $ratio;
}

// ---------------------------------------------------------
// Function for converting em to px
// ---------------------------------------------------------
// See: http://vvv.tobiassjosten.net/css/px-to-em-with-sass/
// Usage, eg:

	// .title {
	//     font-size: em(37px);
	// }

@function em($px, $base: $baseFontSize) {
    @return ($px / $base) * 1em;
}

// -------------------------------------------------------

// Typography
// //////////

// Set the base font size
// Used to calcuate ems
$baseFontSize: 16;

* {
	font-style: normal;
	font-weight: normal;
}


// FONT SIZE MIXINS



// DEFINE FONT STYLES
body {
	@include regular;
	font-size: $baseFontSize + px;
	line-height: 1.2;
}

em, i {
	@include italic;
}

strong, b {
	@include bold;	
}

em b,
b em,
i b,
b i,
strong em,
em strong {
	@include bold-italic;	
}

// h2 {
// 	@include large-header;
// }

// h3 {
// 	@include medium-header;	
// }

// h4 {
// 	@include small-header;	
// }